<ul>
  <% @messages.each do |message| %>
    <% if message.body %>
      <li>
        <h4><%= message.user.username %></h4>
        <p><%= message.body %></p>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render "message" %>

<%#= form_for [@conversation, @message] do |f| %>
<!--   <div class="field">
    <%#= f.text_area :body, placeholder: "Your message" %>
  </div> -->

  <%#= f.submit "Send" %>
<%# end %>