<div class="subform">
  <h2 class="pageheading">Edit Share...</h2>
  
  <%= render 'form', thing: @thing %>

  <%= link_to '< Back', @thing, :class => "btn btn-primary" %>
  <%= link_to 'Find Things', things_path, :class => "btn btn-primary" %>
  
</div>
