<div class="container">
<div class="subform">
  <h2 class="pageheading">New Share...</h2>

  <div class="aught-form-container"> 
    <%= render 'form', thing: @thing %>
  </div>
</div>
<%#= link_to 'Back', things_path %>
</div>