<%= render 'search', :things %>

<h1>Tags:</h1>
<h4>Click on a tag to view items with that tag:</h4>
<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag[:id]) %></li>
  <% end %>
</ul>
