/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


// font-family: 'Oxygen', sans-serif;
// font-family: 'Hammersmith One', sans-serif;

label, a {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

img {
  // width: 300px;
  // height: 200px;
}
/// All Pages
// Move content down away from the header
.subform {
  padding-top: 44px;
  padding-bottom: 60px;
}

.pageheading {  
  font-family: 'Hammersmith One', sans-serif;
  margin-left: 12px;
  margin-bottom: 25px;
}

.btn-primary {
  background-color: #4A8DC4;
  border-color: #4A8DC4;
}

.card {
  max-width: 300px;
}

/// Header

.bg-faded {
  background-color: #79B56E;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 2550, 0.8);
  font-size: 17px;
  padding-top: 14px;
  padding-left: 18px;
}

.navbar-light .navbar-brand {
  color: #666;
  padding-left: 40px;
}
.navbar-brand {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
}

#headeryourprofilelink {
  padding-top: 12px;
}

button .navbar-toggler .hidden-sm-up {
  padding-top: 8px;
}

//// Login and Register a user Pages
#remembermecheckbox {
  margin-top: 16px;
}
#remembermelabel {
  width: 144px;
}

#loginbtn {
  width: 135px;
}

#registerbtn {
  color: rgba(255, 255, 255, 0.8);
  background-color: #79B56E;
  border-color: #79B56E;
  margin-left: 16px;
  width: 135px;
}

#registerbtn:hover {
  color: rgba(25, 25, 25, 0.8);
  background-color: #8CD280;
  border-color: #8CD280;
}

// User edit page 

.editpwdnote {
  padding-top: 12px;
  color: #9E9E9E;
}

.pwdboxalignment {
  margin-left: 17%;
}

input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: rgba(100, 100, 100, 0.8);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: #8CD280;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 0px;
    border-style: outset;
    border-color: #8CD280;
    border-radius: 3px;
    height: 24px;
}

.redcancelbox {
  background-color: rgba(255,0,0,0.1);
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  max-width: 580px;
}

#backbtn {
  color: rgba(255, 255, 255, 0.8);
  background-color: #79B56E;
  border-color: #79B56E;
  // margin-left: 16px;
  width: 135px;
  margin-top: 50px;
}

#backbtn:hover {
  color: rgba(25, 25, 25, 0.8);
  background-color: #8CD280;
  border-color: #8CD280;
}

// User show page

.showidpagepadding {
  margin-top: 60px;
}

//// Things Pages

.aught-form-container {
  margin: 50px;
}

//// Show Page

// Card image width
.card-img-top {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/// Messaging
//Converstaions page
.idpicture {
  border-radius: 15px;
  display: inline;
}

.pageheadingtext {
  display: inline;
  margin-left: 25px;
}

#pageheading {
  margin: 30px;
}

.messageul {
  list-style: none;
}
