/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


// font-family: 'Oxygen', sans-serif;
// font-family: 'Hammersmith One', sans-serif;

label, a {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

// form select background colour
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4a8dc4;
  color: white;
}

// Landing page
.image {
  position: relative;
  width: 100%;
}

.left {
  float: left;
}

.landingimg {
  max-width: 100%;
}

.headingtext {
  margin-top: 100px;
  position: absolute;
}

.titletext {
 position: absolute;
 font-family: 'Hammersmith One', sans-serif;
 margin-left: 25%;
 margin-top: 0%;
 margin-bottom: 25px;
 font-size: 100px;
 color: #4A8DC4;
}



.byline {
  position: absolute;
  margin: 140px 30px 30px 30%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 37px;
  max-width: 390px;
  color: #4A8DC4;
  font-weight: 700;
}

#howitworks {
  position: absolute;
  margin-left: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 37px;
  max-width: 435px;
  color: #4A8DC4;
  font-weight: 700;
  margin-top: 67%;
  font-size: 30px;
}

#howitworksdescirp {
  position: absolute;
  margin-left: 34%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 37px;
  color: #4A8DC4;
  font-weight: 700;
  margin-top: 72%;
  font-size: 20px;
  line-height: 1.6em;
  max-width: 650px;
}

#whatsonaught {
  position: absolute;
  margin-left: 60%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 37px;
  color: #79B56E;
  font-weight: 700;
  margin-top: 106%;
  font-size: 30px;
}

#whatsonaughtdescript {
  position: absolute;
  margin-left: 59%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 37px;
  color: #79B56E;
  font-weight: 700;
  margin-top: 110%;
  font-size: 20px;
  line-height: 1.6em;
  max-width: 500px;
}

#whoson {
  position: absolute;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 37px;
  color: #79B56E;
  font-weight: 700;
  margin-top: 126%;
  font-size: 30px;
}

#whosondescript {
  position: absolute;
  margin-left: 13%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 37px;
  color: #79B56E;
  font-weight: 700;
  margin-top: 130%;
  font-size: 20px;
  line-height: 1.6em;
  max-width: 548px;
}

#viewthecommunity {
  position: absolute;
  margin-left: 13%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 37px;
  color: #4A8DC4;
  font-weight: 700;
  margin-top: 137%;
  font-size: 20px;
  line-height: 1.6em;
  max-width: 548px;
}


.registerbox {
 position: absolute;
 border: 3px solid #4A8DC4;
 border-radius: 22px;
 width: 30%;
 height: 200px;
 margin-top: 209%;
 margin-left: 42%;
 background-color: rgba(74,141,196,1);
}

#registerbtnlarge {
  position: relative;
  color: white;
  background-color: #79B56E;
  border-color: #79B56E;
  margin-left: 80px;
  width: 200px;
  height: 53px;
  font-size: 24px;
}


#registertitle {
  color: white;
  margin-left: 20%;
  margin-top: 5%;
}

#registerdescrip {
 color: white;
 margin-left: 14%;
 margin-top: 5%;
 font-weight: normal;
}







/// All Pages
// Move content down away from the header
.subform {
  padding-top: 44px;
  padding-bottom: 60px;
}

.pageheading {  
  font-family: 'Hammersmith One', sans-serif;
  margin-left: 12px;
  margin-bottom: 25px;
}

.btn-primary {
  background-color: #4A8DC4;
  border-color: #4A8DC4;
  color: white;
}

a:visited.btn-primary  {
  color: white;
}

.card {
  max-width: 300px;
}

.card-block {
  padding: 1.30rem;
  min-width: 140px;
  min-height: 233px;
}

/// Header

.bg-faded {
  background-color: #79B56E;
  border-bottom: #4A8DC4;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 2550, 0.8);
  font-size: 17px;
  padding-top: 14px;
  padding-left: 18px;
}

.navbar-light .navbar-brand {
  color: #666;
  padding-left: 40px;
}
.navbar-brand {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
}

#headeryourprofilelink {
  padding-top: 12px;
}

button .navbar-toggler .hidden-sm-up {
  padding-top: 8px;
}

//// Login and Register a user Pages
#remembermecheckbox {
  margin-top: 16px;
}
#remembermelabel {
  width: 144px;
}

#loginbtn {
  width: 135px;
}

#registerbtn {
  color: rgba(255, 255, 255, 0.8);
  background-color: #79B56E;
  border-color: #79B56E;
  margin-left: 16px;
  width: 135px;
}

#registerbtn:hover {
  color: rgba(25, 25, 25, 0.8);
  background-color: #8CD280;
  border-color: #8CD280;
}

// User edit page 

.editpwdnote {
  padding-top: 12px;
  color: #9E9E9E;
}

.pwdboxalignment {
  margin-left: 17%;
}

input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: rgba(100, 100, 100, 0.8);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: #8CD280;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 0px;
    border-style: outset;
    border-color: #8CD280;
    border-radius: 3px;
    height: 24px;
}

.redcancelbox {
  background-color: rgba(255,0,0,0.1);
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  max-width: 580px;
}

#backbtn {
  color: rgba(255, 255, 255, 0.8);
  background-color: #79B56E;
  border-color: #79B56E;
  // margin-left: 16px;
  width: 135px;
  margin-top: 50px;
}

#backbtn:hover {
  color: rgba(25, 25, 25, 0.8);
  background-color: #8CD280;
  border-color: #8CD280;
}

// User show page

.showidpagepadding {
  margin-top: 60px;
}

//// Things Pages

.aught-form-container {
  margin: 50px;
}

#exampleInputFile {
  margin-top: 20px;
}

.showimgbox {
  margin-bottom: 20px;
}

.showcheckbox {
  margin-bottom: 20px;
}

.categoryselect {
  margin-bottom: 50px;
  display: inline;
}

.category-btn {
  height: 35px; 
  color: white;
  background-color: #79B56E;
}

.search-btn {
  height: 36px;
  color: white;
  background-color: #79B56E;
  border-color: #79B56E;
}


.dropdown-item:hover {
  background-color: #54ADDD;
}

.searchbox {
  display: inline;
  max-width: 40%;
  min-width: 35%;
}

.searchbar {
  margin-bottom: 30px; 
}

//// Show Page

// Card image width
.card-img-top {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/// Messaging
//Converstaions page
.idpicture {
  border-radius: 15px;
  display: inline;
}

.pageheadingtext {
  display: inline;
  margin-left: 25px;
}

#pageheading {
  margin: 30px;
}

.otherusermessagetitle, .otherusermessagebody {
  color: #4A8DC4;
}

.currentusermessagetitle, .currentusermessagebody {
  color: #79B56E;
}
.currentuser {
  border-radius: 44px;
  background-color: rgba(140, 210, 128,0.1); 
  border: 1px solid #79B56E;
  min-width: 290px;
  min-height: 150px;
}

.otheruser {
  border-radius: 44px;
  border: 1px solid #4A8DC4;
  background-color: rgba(84,173,221,0.1); 
  min-width: 290px;
  margin-left: 50px;
}

.messgestylebox {
  max-width: 250px;
}

.messagebox {
  text-align: center;
}

#messagesendbutton {
  margin-top: 30px;
  display: block;
}

// Sign in page

#signinloginbtn {
  position: relative;
  width: 135px;
  width: 135px;
  margin-left: 0px;
  margin-top: 10%;
}
.registersigninbutton {
  position: relative;
  color: white;
  background-color: #79B56E;
  border-color: #79B56E;
  margin-left: 180px;
  margin-top: -6%;
  width: 135px; 
}